<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image_Generator</title>
    <script src="{{ url_for('static', filename='stable.js') }}" defer type="module"></script>
</head>
<body>
    <h1>Welcome to my website</h1>
    <style>
        h1 {
            color:crimson;
            text-align: center;
        }
    </style>
    <img src="https://images.pexels.com/photos/1276553/pexels-photo-1276553.jpeg" alt="Cute cat" width="150">
    <p>Please reload if you want to remove any generated images</p>
    <input type="text" class="user-input" placeholder="Ask Your question here...">
    <button class="submit">CLICK_TO_SUBMIT</button>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>